
body {
  margin: 0;
  text-align: center;
font-family: "Merriweather", sans-serif;
color: #40514E;
}

h1 {
  font-size: 5.625em;
  color: #28527a;
  margin: 50px auto 0 auto;
  font-family: 'Sacramento', cursive;
}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #28527a;
  font-size: 2rem;
  font-weight: bolder;
  line-height: 2px;

}
h3{
  color: #28527a;
  font-family: 'Montserrat', sans-serif;
  font-weight: bolder;
  margin-bottom: 20px;
}
.getin {
    margin-bottom: 60px;
  }

table {
  display: inline-block;
  margin: 0 500px;
}

.top-container {
  background-color: #f4f5db;

  padding-top: 100px;

}
.mountain {
  height: 50%;
  width: 50%;
}
.profile_pic {
  margin-top: 50px;
  margin-bottom: 30px;
  height: 180px;
  width:  180px;
}
.skill_hacker {
 float: left;
 margin-right: 30px;

 width:  25%;
}
.skill_stockmarket {
  float: right;
  margin-left: 30px;

  width:  25%;
}

.middle-container {
  background-color: #fbeeac;

}
.bottom-container {
background-color: #bd9354;
height: 130px;

}
.pro {
  text-decoration: underline;
}
.bottom-cloud {
  position: absolute;
  left: 250px;
  height: 10%;
  width: 15%;


}
.top-cloud {
  position: absolute;
  right: 260px;
  height: 10%;
  width: 15%;
}
.footer-link {

  color: #85603f;
  text-decoration: none;
  font-weight: bold;
  position: relative;
  top: 30px;

}

.btn {
   background: #bd9354;
   background-image: -webkit-linear-gradient(top, #BD9354, #bd9354);
   background-image: -moz-linear-gradient(top, #BD9354, #bd9354);
   background-image: -ms-linear-gradient(top, #BD9354, #bd9354);
   background-image: -o-linear-gradient(top, #BD9354, #bd9354);
   background-image: -webkit-gradient(to bottom, #BD9354, #bd9354);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
   font-size: 15px;
   font-weight: bolder;
   padding: 10px;
   margin-bottom: 40px;

   text-shadow: 1px 1px 20px #000000;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #85603f 1px;
   background: #85603f;
   background-image: -webkit-linear-gradient(top, #85603f, #85603f);
   background-image: -moz-linear-gradient(top, #85603f, #85603f);
   background-image: -ms-linear-gradient(top, #85603f, #85603f);
   background-image: -o-linear-gradient(top, #85603f, #85603f);
   background-image: -webkit-gradient(to bottom, #85603f, #85603f);
   -webkit-border-radius: 15px;
   -moz-border-radius: 15px;
   border-radius: 15px;
   text-decoration: none;
}


.tipurl {
  color: #40514E;
  font-weight: bold;
  text-decoration: none;
}
.skill-row {
line-height: 2;
margin: 50px auto 120px auto;
text-align: left;
width: 50%;;

}
hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 5%;
  margin: 100px auto 100px auto;
}
.good_day_val {
  margin-top: 50px;
  line-height: 2;
  color: #40514E;
}


.h3getinval {
  margin-top: 50px;
  margin-bottom: 50px;
  line-height: 2;
}
.namebottom {
  font-size: 80%;
  color: #EAF6F6;
  margin-top: 70px;
  margin-bottom: 0;
}
